<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.ranunculus.mappers.IBoardMapper">
    <insert id="insertArticle"
            useGeneratedKeys="true"
            keyColumn="index"
            keyProperty="index"
            parameterType="team.ranunculus.entities.board.BoardEntity">
        INSERT INTO `ranunculus_boards`.`qna` (`writer`, `password`, `title`, `content`, `created_at`,
                                               `email_admin_flag`)
        VALUES (#{writer}, #{password}, #{title}, #{content}, #{createdAt}, #{emailAdminFlag})
    </insert>

    <select id="selectUserAdminCheckByEmail"
            resultType="team.ranunculus.entities.member.UserEntity">
        SELECT `email`               AS `email`,
               `password`            AS `password`,
               `name`                AS `name`,
               `address_postal`      AS `addressPostal`,
               `address_primary`     AS `addressPrimary`,
               `address_secondary`   AS `addressSecondary`,
               `telecom_value`       AS `telecomValue`,
               `contact`             AS `contact`,
               `policy_terms_at`     AS `policyTermsAt`,
               `policy_privacy_at`   AS `policyPrivacyAt`,
               `policy_marketing_at` AS `policyMarketingAt`,
               `status_value`        AS `statusValue`,
               `registered_at`       AS `registeredAt`,
               `admin_flag`          AS `isAdmin`
        FROM `ranunculus_members`.`member`
        WHERE `email` = #{email}
        LIMIT 1;
    </select>

    <select id="getList"
            resultType="team.ranunculus.entities.board.BoardEntity">
        SELECT `index`            AS `index`,
               `writer`           AS `writer`,
               `password`         AS `password`,
               `title`            AS `title`,
               `content`          AS `content`,
               `created_at`       AS `createdAt`,
               `email_admin_flag` AS `emailAdminFlag`
        FROM `ranunculus_boards`.`qna`
        ORDER BY `index` DESC
    </select>

    <select id="getIndex"
            resultType="team.ranunculus.entities.board.BoardEntity">
        SELECT `index` AS `index`
        FROM `ranunculus_boards`.`qna`
        ORDER BY `index` DESC
    </select>
</mapper>