<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.ranunculus.mappers.IProductMapper">
    <insert id="insertProduct"
            parameterType="team.ranunculus.entities.product.ProductEntity">
        INSERT INTO `ranunculus_products`.`products`(`name`, `cost_price`, `net_price`, `image`, `capacity`, `category`,
                                                     `launching_date`, `stock`, `stock_update`, `sales_quantity`,
                                                     `image_mime`, `detail_image`, `detail_image_mime`)
        VALUES (#{name}, #{costPrice}, #{netPrice}, #{image}, #{capacity}, #{category}, #{launchingDate}, #{stock},
                #{stockUpdate}, #{salesQuantity}, #{mime}, #{prodDetailImage}, #{prodDetailImageMime})
    </insert>

    <insert id="insertCapacityOption"
            parameterType="team.ranunculus.entities.product.CapacityEntity">
        INSERT INTO `ranunculus_products`.product_capacity(`text`)
        VALUES (#{text})
    </insert>

    <select id="selectCapacityByValue"
            resultType="team.ranunculus.entities.product.CapacityEntity">
        select `value` as `value`,
               `text`  as `text`
        from ranunculus_products.product_capacity
        where `value` = #{value}
    </select>

    <select id="selectProductByIndex"
            resultType="team.ranunculus.entities.product.ProductEntity">
        select `index`             as `index`,
               `name`              as `name`,
               `cost_price`        as `costPrice`,
               `net_price`         as `netPrice`,
               `image`             as `image`,
               `capacity`          as `capacity`,
               `category`          as `category`,
               `launching_date`    as `launchingDate`,
               `stock`             as `stock`,
               `stock_update`      as `stockUpdate`,
               `sales_quantity`    as `salesQuantity`,
               `image_mime`        as imageMime,
               `detail_image`      as prodDetailImage,
               `detail_image_mime` as prodDetailImageMime
        from ranunculus_products.products
        where `index` = #{index}
    </select>

    <select id="selectProductByName"
            resultType="team.ranunculus.entities.product.ProductEntity">
        SELECT `index`             AS `index`,
               `name`              AS `name`,
               `net_price`         AS `netPrice`,
               `image`             AS `image`,
               `image_mime`        AS `imageMime`,
               `capacity`          AS `capacity`,
               `category`          AS `category`,
               `launching_date`    AS `launchingDate`,
               `stock`             AS `stock`,
               `stock_update`      AS `stockUpdate`,
               `sales_quantity`    AS `salesQuantitu`,
               `detail_image`      AS `detailImage`,
               `detail_image_mime` AS `detailImageMime`
        FROM `ranunculus_products`.`products`
        #         WHERE `name` = #{name}
#         OR ;
    </select>

    <select id="selectAllProduct"
            resultType="team.ranunculus.entities.product.ProductEntity">
        SELECT `index`      AS `index`,
               `name`       AS `name`,
               `net_price`  AS `netPrice`,
               `image`      AS `image`,
               `image_mime` AS `imageMime`,
               `category`   AS `category`,
               `capacity`   AS `capacity`,
               `stock`      AS `stock`
        from `ranunculus_products`.`products`
        order by `index` DESC
    </select>

    <select id="selectCapacity"
            resultType="team.ranunculus.entities.product.CapacityEntity">
        SELECT `value` AS `value`,
               `text`  AS `text`
        FROM ranunculus_products.product_capacity
        ORDER BY `text`
    </select>

    <select id="selectCategory"
            resultType="team.ranunculus.entities.product.CategoryEntity">
        SELECT `value` AS `value`,
               `text`  AS `text`
        FROM ranunculus_products.product_category
        ORDER BY `text`
    </select>


</mapper>