
body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body > .main {
    width: var(--content-width-default);
}

body > .main > .title {
    color: rgb(var(--concept-color-pink));
    font-size: 2.75rem;
    border-bottom: 0.2rem solid rgb(var(--concept-color-pink));
    margin: 1.75rem 0 3rem 0;
}

body > .main > .terms-container {
    align-items: flex-start;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
}

body > .main > .terms-container.visible {
    display: flex;
}

body > .main > .terms-container > .section-container {
    padding-bottom: 2.25rem;
}

body > .main > .terms-container > .section-container > .check-container {
    max-width: 10rem;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    user-select: none;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

body > .main > .terms-container > .section-container > .check-container > .checker-container {
    width: 1.25rem;
    height: 1.25rem;
    align-items: center;
    background-color: rgb(215, 215, 215);
    border: none;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > .main > .terms-container > .section-container > .check-container > .check-input:checked ~ .checker-container {
    background-color: rgb(var(--concept-color-pink));

}

body > .main > .terms-container > .section-container > .check-container > .checker-container > .checker {
    width: 1.25rem;
    height: 1.25rem;
    align-items: center;
    color: rgb(255, 255, 255);
    border-radius: 0.15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


body > .main > .terms-container > .section-container > .check-container > .text {
    margin-left: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
}

body > .main > .terms-container > .section-container > .text {
    margin-left: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
}

body > .main > .terms-container > .section-container:first-of-type > .comment {
    font-size: 1rem;
    font-weight: 400;
}

body > .main > .terms-container > .section-container:not(:first-of-type) > .comment {
    width: var(--content-width-default);
    height: 10rem;
    border: 0.125rem solid rgb(180, 180, 180);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 125%;
    overflow: hidden auto;
    padding: 1rem 0;
}

body > .main > .terms-container > .button-container {
    width: var(--content-width-default);
    align-items: stretch;
    border-top: 0.2rem solid rgb(var(--concept-color-pink));
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1.25rem 0 5rem 0;
}

body > .main > .terms-container > .button-container > .button {
    border: unset;
    border-radius: 0.25rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1rem 4.25rem;
}

body > .main > .terms-container > .button-container > .button + .button {
    margin-left: 0.75rem;
}

body > .main > .terms-container > .button-container > .button.cancel-button {
    background-color: rgb(180, 180, 180);
}

body > .main > .terms-container > .button-container > .button.cancel-button:hover {
    background-color: rgb(150, 150, 150);
}

body > .main > .terms-container > .button-container > .button.next-button {
    background-color: rgb(var(--concept-color-pink));
}

body > .main > .terms-container > .button-container > .button.next-button:hover {
    background-color: rgb(var(--concept-color-pink-dim));
}

body > .main > .register-form {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
}

body > .main > .register-form.visible {
    display: flex;
}

body > .main > .register-form > .input-container{
    width: 20rem;
}

body > .main > .register-form > .input-container:not(:first-of-type) {
    margin-top: 1rem;
}

body > .main > .register-form > .input-container:last-of-type {
    margin: 1.25rem 0 5rem 0;
}

body > .main > .register-form > .input-container > .text,
body > .main > .register-form > .section-container > .text{
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: 0.625rem;
}

body > .main > .register-form > .input-container > .input,
body > .main > .register-form > .section-container .input {
    border: 0.125rem solid rgb(var(--concept-color-pink));
}

body > .main > .register-form > .input-container > .input:not(:placeholder-shown),
body > .main > .register-form > .section-container .input:not(:placeholder-shown) {
    background-color: rgba(var(--concept-color-pink), 50%);
}

body > .main > .register-form > .input-container > .input:focus,
body > .main > .register-form > .section-container .input:focus {
    background-color: rgba(var(--concept-color-blue), 50%);
}




/* todo : css 작성 필요 이후 html[] 예정 */
body > .main > .register-form > .section-container {
    width: 20rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body > .main > .register-form > .section-container > .address-postal-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > .main > .register-form > .section-container > .address-postal-wrapper > .address-postal-button {
    margin-left: 0.325rem;
}

body > .main > .register-form > .section-container > .address-container {
    margin-top: 0.325rem;
}

body > .main > .register-form > .section-container > .address-container > .address-primary,
body > .main > .register-form > .section-container > .address-container > .address-secondary {
    border-radius: 0.25rem;
    font: inherit;
    outline: none;
    padding: 0.925rem 1.125rem;
}










body > .main > .register-form > .section-container:last-of-type {
    width: var(--content-width-default);
    align-items: stretch;
    border-top: 0.2rem solid rgb(var(--concept-color-pink));
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

body > .main > .register-form > .section-container > .login-container,
body > .main > .register-form > .section-container > .button-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1.25rem 0 5rem 0;
}

body > .main > .register-form > .section-container > .login-container {
    margin-right: 5rem;
}

body > .main > .register-form > .section-container > .login-container > * {
    margin-right: 0.5rem;
    font-size: 1.25rem;
    font-weight: 400;
}

body > .main > .register-form > .section-container > .login-container > .link {
    color: rgb(255, 51, 0);
}

body > .main > .register-form > .section-container > .login-container > .link:hover {
    text-decoration: underline;
}

body > .main > .register-form > .section-container > .button-container > .button {
    border: unset;
    border-radius: 0.25rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1rem 4.25rem;
}

body > .main > .register-form > .section-container > .button-container > .button + .button {
    margin-left: 0.75rem;
}

body > .main > .register-form > .section-container > .button-container > .button.cancel-button {
    background-color: rgb(180, 180, 180);
}

body > .main > .register-form > .section-container > .button-container > .button.cancel-button:hover {
    background-color: rgb(150, 150, 150);
}

body > .main > .register-form > .section-container > .button-container > .button.next-button {
    background-color: rgb(var(--concept-color-pink));
}

body > .main > .register-form > .section-container > .button-container > .button.next-button:hover {
    background-color: rgb(var(--concept-color-pink-dim));
}