@charset "UTF-8";

.mark {
    color: rgb(231, 76, 60);
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body > .address-search-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 80%);
    display: none;
    position: fixed;
    z-index: 8;
}

body > .address-search-container > .dialog {
    top: 50%;
    left: 50%;
    max-width: calc(100% - 2rem);
    max-height: calc(100% - 2rem);
    background-color: rgb(255, 255, 255);
    overflow: auto;
    position: absolute;
    transform: translate(-50%, -50%);
}

body.searching {
    overflow: hidden;
}

body.searching > .address-search-container {
    display: block;
}

body > .main {
    width: var(--content-width-default);
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 0;
}

body > .main > .box {
    border: 0.0625rem solid rgb(230, 230, 230);
    border-radius: 0.5rem;
    padding: 1.5rem;
}

body > .main > .nav {
    width: 17.5rem;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 3rem;
}

body > .main > .nav > .profile-wrap {
    cursor: default;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0 0 0.75rem 2rem;
}

body > .main > .nav > .item {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

body > .main > .nav > .item > .link {
    border: 0.0625rem solid rgb(230, 230, 230);
    border-radius: 0.5rem;
    font-weight: 400;
    margin-top: 0.75rem;
    padding: 1rem;
}

body > .main > .nav > .item[selected] > .link {
    background-color: rgba(var(--concept-color-pink), 65%);
    border: 0.125rem solid rgb(var(--concept-color-pink));
    font-weight: 500;
    color: rgb(var(--concept-color-pink-dim));
}

body > .main > .total-section {
    flex: 1;
}

body > .main > .total-section > .content > .title {
    border-bottom: 0.0625rem solid rgb(230, 230, 230);
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

body > .main > .total-section > .truncate-section > .comment-container {
    border: 0.0625rem solid rgb(180, 180, 180);
    line-height: 125%;
    overflow: hidden auto;
    padding: 1.625rem;
    margin: 1rem 0;
}

body > .main > .total-section > .truncate-section > .comment-container > .color-red {
    color: rgb(231, 76, 60);
}

body > .main > .total-section > .truncate-section > .check-container {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    user-select: none;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

body > .main > .total-section > .truncate-section > .check-container > .checker-container {
    width: 1.25rem;
    height: 1.25rem;
    align-items: center;
    background-color: rgb(215, 215, 215);
    border: none;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > .main > .total-section > .truncate-section > .check-container > .check-input:checked ~ .checker-container {
    background-color: rgb(var(--concept-color-pink));

}

body > .main > .total-section > .truncate-section > .check-container > .checker-container > .checker {
    width: 1.25rem;
    height: 1.25rem;
    align-items: center;
    color: rgb(255, 255, 255);
    border-radius: 0.15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > .main > .total-section > .truncate-section > .check-container > .text {
    margin-left: 0.5rem;
    font-size: 0.825rem;
    font-weight: 500;
}

body > .main > .total-section > .info-section > .info-form > .table {
    border-collapse: collapse;
}

body > .main > .total-section > .info-section > .info-form > .table > .tbody > .tr:not(:nth-last-child(1), :nth-last-child(2)) {
    border-bottom: 0.0625rem solid rgb(230, 230, 230);
}

body > .main > .total-section > .info-section > .info-form > .table > .tbody > .tr:not(:last-of-type) > * {
    padding: 1rem;
}

body > .main > .total-section > .info-section > .info-form > .table > .tbody > .tr > .th {
    font: inherit;
    padding-right: 1rem;
    text-align: right;
    white-space: nowrap;
}

body > .main > .total-section > .info-section > .info-form > .table > .tbody > .tr > .td > .label > .text {
    margin-top: 0.325rem;
}

body > .main > .total-section > .info-section > .info-form > .table > .tbody > .tr > .td > .section-container > *:not(:first-of-type),
body > .main > .total-section > .info-section > .info-form > .table > .tbody > .tr > .td > .contact-container:not(:first-of-type) > .input-container > * {
    margin-top: 0.325rem;
}

body > .main > .total-section > .info-section > .info-form > .table > .tbody > .tr > .td > .section-container > .address-postal-wrapper {
    max-width: 75%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > .main > .total-section > .info-section > .info-form > .table > .tbody > .tr > .td > .section-container > .address-container > * {
    display: none;
}

body > .main > .total-section > .info-section > .info-form > .table > .tbody > .tr > .td > .section-container > .address-container > *.visible {
    display: flex;
}

body > .main > .total-section > .info-section > .info-form > .table > .tbody > .tr > .td > .section-container > .address-container > ._object-button {
    display: inline-block;
    background-color: rgb(var(--concept-color-pink));
    margin-left: 0.325rem;
}

body > .main > .total-section > .info-section > .info-form > .table > .tbody > .tr > .td > .section-container > .address-container > ._object-button:hover {
    background-color: rgb(var(--concept-color-pink-dim));
}

body > .main > .total-section > .info-section > .info-form > .table > .tbody > .tr > .td > .section-container > .address-container > ._object-button:active {
    background-color: rgba(var(--concept-color-pink), 95%);
}

body > .main > .total-section > .info-section > .info-form > .table > .tbody > .tr > .td > .contact-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body > .main > .total-section > .info-section > .info-form > .table > .tbody > .tr > .td > .contact-container > .input-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


body > .main > .total-section > .info-section > .info-form > .table > .tbody > .tr > .td ._object-input {
    border: 0.125rem solid rgb(var(--concept-color-pink));
}

body > .main > .total-section > .info-section > .info-form > .table > .tbody > .tr > .td ._object-input:not(:placeholder-shown) {
    background-color: rgba(var(--concept-color-pink), 65%);
}

body > .main > .total-section > .info-section > .info-form > .table > .tbody > .tr > .td ._object-input:focus {
    background-color: rgba(var(--concept-color-blue), 50%);
}

body > .main > .total-section > .info-section > .info-form > .table > .tbody > .tr > .td ._object-input[disabled] {
    -webkit-touch-callout: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

body > .main > .total-section > .info-section > .info-form > .table > .tbody > .tr > .td > .contact-container > .input-container > .input,
body > .main > .total-section > .info-section > .info-form > .table > .tbody > .tr > .td > .contact-container > .input-container > .button {
    display: none;
}

body > .main > .total-section > .info-section > .info-form > .table > .tbody > .tr > .td > .contact-container > .input-container > .input.visible,
body > .main > .total-section > .info-section > .info-form > .table > .tbody > .tr > .td > .contact-container > .input-container > .button.visible {
    display: flex;
}

body > .main > .total-section > .info-section > .info-form > .table > .tbody > .tr > .td > .contact-container > .input-container > ._object-button {
    margin-left: 0.325rem;
}

body > .main > .total-section > .info-section > .info-form > .table > .tbody > .warning-container > .td > .warning {
    display: none;
    color: rgb(231, 76, 60);
}

body > .main > .total-section > .info-section > .info-form > .table > .tbody > .warning-container > .td > .warning.visible {
    display: flex;
    text-align: center;
}

body > .main > .total-section > .info-section > .info-form > .table > .tbody > .submit-container > .td > .submit-button {
    margin-top: 0.325rem;
    float: right;
}