
body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body > .main {
    width: var(--content-width-default);
}

body > .main > .title {
    color: rgb(var(--concept-color-pink));
    font-size: 2.75rem;
    border-bottom: 0.2rem solid rgb(var(--concept-color-pink));
    margin: 1.75rem 0 3rem 0;
}

body > .main > .terms-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

body > .main > .terms-container > .section-container {
    padding-bottom: 2.25rem;
}

body > .main > .terms-container > .section-container:last-of-type {
    border-bottom: 0.2rem solid rgb(var(--concept-color-pink));
}

body > .main > .terms-container > .section-container > .check-container {
    max-width: 10rem;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    user-select: none;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

body > .main > .terms-container > .section-container > .check-container > .checker-container {
    width: 1.25rem;
    height: 1.25rem;
    align-items: center;
    border: 0.0625rem solid rgb(0, 0, 0);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > .main > .terms-container > .section-container > .check-container > .check-input:checked ~ .checker-container {
    background-color: rgb(0, 0, 0);
}

body > .main > .terms-container > .section-container > .check-container > .checker-container > .checker {
    /*display: none;*/
    width: 85%;
}

body > .main > .terms-container > .section-container > .check-container > .check-input:checked ~ .checker-container > .checker {
    display: block;
}

body > .main > .terms-container > .section-container > .check-container > .text {
    margin-left: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
}

body > .main > .terms-container > .section-container > .text {
    margin-left: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
}

body > .main > .terms-container > .section-container:first-of-type > .comment {
    font-size: 1rem;
    font-weight: 400;
}

body > .main > .terms-container > .section-container:not(:first-of-type) > .comment {
    width: var(--content-width-default);
    height: 10rem;
    border: 0.125rem solid rgb(180, 180, 180);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 125%;
    overflow: hidden auto;
    padding: 1rem 0;
}

body > .main > .terms-container > .button-container {
    width: var(--content-width-default);
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1.25rem 0 5rem 0;
}

body > .main > .terms-container > .button-container > .button {
    border: unset;
    border-radius: 0.25rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1rem 4.25rem;
}

body > .main > .terms-container > .button-container > .button + .button {
    margin-left: 0.75rem;
}

body > .main > .terms-container > .button-container > .button.cancel-button {
    background-color: rgb(180, 180, 180);
}

body > .main > .terms-container > .button-container > .button.next-button {
    background-color: rgb(var(--concept-color-pink));
}