@charset "UTF-8";

label.contact {
    display: flex;
    flex-direction: row;
}
body > .main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 1rem;
}

body>.main>.email-container:not(.visible),
body>.main>.result-container:not(.visible)
{
    display: none;
}

body>.main>.email-container.visible,
body>.main>.result-container.visible
{
    flex-direction: column;
    justify-content: flex-start;
}


body > .main > .recoverEmail-form:not(.visible),
body > .main > .recoverPassword-form:not(.visible),
body>.main>.result-container:not(.visible),
body>.main>.resetPassword-form:not(.visible){
    display: none;
}

body > .main > .recoverEmail-form,
body > .main > .recoverPassword-form,
body > .main > .resetPassword-form
{
    width: 25rem;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

body > .main > .recoverEmail-form > * + *,
body > .main > .recoverPassword-form > * + *,
body > .main > .resetPassword-form > * + *{
    margin-top: 0.625rem;
}

body > .main > .recoverEmail-form > .title,
body > .main > .recoverPassword-form > .title,
body > .main > .resetPassword-form > .title
{
    align-self: center;
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

body > .main > .result-container > .title{
    align-self: center;
    font-size: 1.875rem;
    font-weight: 600;
    margin-top: 2.5rem;
}

body > .main > .result-container > span:nth-child(2){
    display: block;
    margin: 1rem 0;
}
body > .main > .result-container >._object-button{
    margin-top: 0.625rem;
    display: table;
}
