<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <th:block th:insert="~{fragments/head.html :: content}"></th:block>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ranunculus 로그인</title>
    <script defer th:src="@{/board/resources/scripts/index.js}"></script>
    <link rel="stylesheet" th:href="@{/board/resources/stylesheets/index.css}">
    <script src="https://kit.fontawesome.com/ac2617ecb2.js" crossorigin="anonymous"></script>
</head>
<body class="_layout-hmf">
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<main class="_main main">
    <div class="a">
        <div class="b">
            <h1 class="title">
                <i class="icon fa-solid fa-headset"></i>
                <span class="text">고객문의</span>
            </h1>
        </div>
        <div class="b">
            <div class="fieldset">
                <label class="icon-container">
                    <input type="radio" name="search" id="searchName" class="search-name" >
                    <a>이름</a>
                </label>
                <label class="icon-container">
                    <input type="radio" name="search" id="searchTitle" class="search-title">
                    <a>제목</a>
                </label>
                <label class="icon-container">
                    <input type="radio" name="search" id="searchContent" class="search-content">
                    <a>내용</a>
                </label>
                <label class="input-container">
                    <div class="typ-container">
                        <span hidden>원하시는 향수를 찾아보세요</span>
                        <i class="icon fa-solid fa-magnifying-glass"></i>
                        <input class="input" maxlength="50" name="keyword" placeholder="찾으시는 내용을 입력하세요." type="text">
                    </div>
                </label>
            </div>
        </div>
    </div>
    <div class="division-line">

    </div>
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>