<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <th:block th:insert="~{fragments/head.html :: content}"></th:block>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Q&A</title>
    <link rel="stylesheet" th:href="@{/board/resources/stylesheets/index.css}">
    <script defer th:src="@{/board/resources/scripts/index.js}"></script>
    <script src="https://kit.fontawesome.com/ac2617ecb2.js" crossorigin="anonymous"></script>
</head>
<body class="_layout-hmf">
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<main class="_main main">
    <div class="a">
        <div class="b">
            <h1 class="title">
                <i class="icon fa-solid fa-headset"></i>
                <span class="text">고객문의</span>
            </h1>
        </div>
        <div class="b">
            <div class="fieldset">
                <form class="submitForm" id="submitform" method="get">
                    <label class="icon-container">
                        <input value="name" type="radio" name="search" id="searchName" class="search-name">
                        <a>이름</a>
                    </label>
                    <label class="icon-container">
                        <input value="title" type="radio" name="search" id="searchTitle" class="search-title">
                        <a>제목</a>
                    </label>
                    <label class="icon-container">
                        <input value="content" type="radio" name="search" id="searchContent" class="search-content">
                        <a>내용</a>
                    </label>
                    <label class="input-container">
                        <div class="typ-container">
                            <span hidden>찾으시는 내용을 입력하세요.</span>
                            <i class="icon fa-solid fa-magnifying-glass"></i>
                            <input id="searchInput" class="input" maxlength="50" name="keyword" placeholder="찾으시는 내용을 입력하세요." type="text">
                        </div>
                    </label>
                </form>

            </div>
        </div>
    </div>
    <table class="division-line inquiry-container">
        <thead>
        <tr>
            <th>NO.</th>
            <th>DATE</th>
            <th>TITLE</th>
            <th>NAME</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td id="list1" class="no-inquiry-td" colspan="4" th:if="${list == null || list.size() == 0}">표시할 문의가 없습니다.</td>
        </tr>

        <tr id="list2" th:each="list : ${list}">
            <td>
                <a id="list3" th:text="${list.getIndex()}"></a>
            </td>
            <td>
                <a id="list4" th:text="${#dates.format(list.getCreatedAt(),'yyyy-MM-dd HH:mm')}"></a>
            </td>
            <td>
                <a id="list5" th:text="${list.getTitle()}" th:href="@{'/board/read/' + ${list.getIndex()}}"></a>
            </td>
            <td>
                <a id="list6" th:text="${list.getWriter()}"></a>
            </td>
        </tr>
        </tbody>


    </table>
    <div class="page-container">
        <div class="number-button">
<!--            <a th:each="page : ${#numbers.sequence(paging.boundStartPage, paging.boundEndPage)}"-->
<!--               th:class="${'page' + (page == paging.requestPage ? ' selected' : '')}"-->
<!--               th:text="${page}"-->
<!--               th:href="@{'./' (page = ${page})}"-->
<!--               th:if="${criteria == null || keyword == null}"></a>-->

<!--            <a th:each="page : ${#numbers.sequence(paging.boundStartPage, paging.boundEndPage)}"-->
<!--               th:class="${'page' + (page == paging.requestPage ? ' selected' : '')}"-->
<!--               th:text="${page}"-->
<!--               th:href="@{'./' (page = ${page}, criteria = ${criteria}, keyword = ${keyword})}"-->
<!--               th:if="${criteria != null && keyword != null}"></a>-->
        </div>
        <div class="write-container">
            <a class="write" th:href="@{/board/write}">WRITE</a>
        </div>
    </div>
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>