<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <th:block th:insert="~{fragments/head.html :: content}"></th:block>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Q&A</title>
    <link rel="stylesheet" th:href="@{/board/resources/stylesheets/index.css}">
    <script defer th:src="@{/board/resources/scripts/index.js}"></script>
    <script src="https://kit.fontawesome.com/ac2617ecb2.js" crossorigin="anonymous"></script>
</head>
<body class="_layout-hmf">
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<main class="_main main">
    <div class="panel" style="margin-left:1px;">
        <div id="contAreaBox">
            <div class="panel">
                <div class="panel-body">
                    <tr id="list2" th:each="list : ${list}">
                        <td>
                            <a id="list3" th:text="${list.getIndex()}"></a>
                        </td>
                        <td>
                            <a id="list4" th:text="${#dates.format(list.getCreatedAt(),'yyyy-MM-dd HH:mm')}"></a>
                        </td>
                        <td>
                            <a id="list5" th:text="${list.getTitle()}" th:href="@{'/board/read/' + ${list.getIndex()}}"></a>
                        </td>
                        <td>
                            <a id="list6" th:text="${list.getWriter()}"></a>
                        </td>
                    </tr>
                    <div style="margin-left:1px;">
                        <a href="/board/qna" class="btn btn-primary">목록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="_object-button modify" id="modifyButton">수정하기</button>
    <button class="_object-button delete" id="deleteButton">삭제하기</button>
    </aside>
    </div>
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>