<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <th:block th:insert="~{fragments/head.html :: content}"></th:block>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Q&A</title>
    <link rel="stylesheet" th:href="@{/board/resources/stylesheets/index.css}">
    <script defer th:src="@{/board/resources/scripts/index.js}"></script>
    <script src="https://kit.fontawesome.com/ac2617ecb2.js" crossorigin="anonymous"></script>
</head>
<body class="_layout-hmf">
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<main class="_main main">
    <ul class="page-container">
        <li class="page-wrap">
            <a class="link page selected">1</a>
        </li>
        <li class="page-wrap">
            <a class="link page" >2</a>
        </li>
        <li class="page-wrap">
            <a class="link page" >3</a>
        </li>
        <li class="page-wrap">
            <a class="link page" >4</a>
        </li>
    </ul>
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>