<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <th:block th:insert="~{fragments/head.html :: content}"></th:block>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Q&A</title>
    <link rel="stylesheet" th:href="@{/board/resources/stylesheets/read.css}">
    <script defer th:src="@{/board/resources/scripts/read.js}"></script>
    <script src="https://kit.fontawesome.com/ac2617ecb2.js" crossorigin="anonymous"></script>
</head>
<body class="_layout-hmf">
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<main class="_main main">
    <table class="division-line inquiry-container">
        <thead>
        <tr>
            <th>NO.</th>
            <th>DATE</th>
            <th>CONTENT</th>
            <th>NAME</th>
        </tr>
        </thead>
        <tbody>
        <tr id="list2" th:each="list : ${list}">
            <td>
                <a id="list3" th:text="${list.getIndex()}"></a>
            </td>
            <td>
                <a id="list4" th:text="${#dates.format(list.getCreatedAt(),'yyyy-MM-dd HH:mm')}"></a>
            </td>
            <td>
                <a id="list5" th:text="${list.getContent()}"></a>
            </td>
            <td>
                <a id="list6" th:text="${list.getWriter()}"></a>
            </td>
        </tr>
        </tbody>


    </table>
    <div class="button-container">
        <div class="left">
            <a href="/board/qna" class="_object-button listButton">목록</a>
        </div>
        <div class="right">
            <button class="_object-button" id="modifyButton">수정하기</button>
            <button class="_object-button" id="deleteButton">삭제하기</button>
        </div>

    </div>
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>