<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <th:block th:insert="~{fragments/head.html :: content}"></th:block>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>라넌큘러스 비밀번호 찾기</title>
    <script defer th:src="@{/member/resources/scripts/userRecoverPassword.js}"></script>

    <link rel="stylesheet" th:href="@{/member/resources/stylesheets/userRecover.css}">
    <script src="https://kit.fontawesome.com/ac2617ecb2.js" crossorigin="anonymous"></script>
</head>
<body>
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<main class="_main main">

    <form class="recoverPassword-form visible" id="recoverPasswordForm">
        <h2 class="title">비밀번호 찾기</h2>

        <label class="_object-label">
            <span hidden>이메일</span>
            <input autofocus class="_object-input" maxlength="50" name="email" placeholder="이메일 주소" type="email">
        </label>

        <label class="_object-label">
            <span hidden>이름</span>
            <input autofocus class="_object-input" maxlength="5" name="name" placeholder="이름" type="text">
        </label>

        <label class="_object-label contact">
            <span hidden>연락처</span>
            <input class="_object-input input" maxlength="12" name="contact" placeholder="연락처 ( - 없이 입력해주세요.)" type="text">
            <input name="contactAuthSalt" type="hidden">
            <input class="_object-button"id="contactAuthRequestButton" name="contactAuthRequestButton" type="button" value="인증번호 요청" data-func="requestContactAuthCode">
        </label>

        <label class="_object-label contact">
            <span hidden>연락처 인증번호</span>
            <input class="_object-input input" disabled maxlength="6" name="contactAuthCode" placeholder="인증번호" type="text">
            <input class="_object-button" disabled id="contactAuthCheckButton" name="contactAuthCheckButton" type="button" value="인증번호 확인" data-func="checkContactAuthCode">
        </label>

        <input class="_object-button" name="PasswordRecoverButton" type="submit" value="비밀번호 재설정">
    </form>
    <div class="result-container" id="resultContainer">
        <h2 class="title">비밀번호 재설정</h2>
        <span class="desc">비밀번호를 성공적으로 재설정하였습니다.</span>
        <span>다시 로그인해 주세요.</span>
        <a class="link _object-button" th:href="@{/member/userLogin}">로그인 하러 가기</a>
    </div>
    <form class="resetPassword-form" id="resetPasswordForm">
        <h2 class="title">비밀번호 재설정</h2>
        <span class="desc">새로운 비밀번호를 입력해 주세요.</span>

        <label class="_object-label">
            <span hidden>비밀번호</span>
            <input autofocus class="_object-input" maxlength="50" name="password" placeholder="새로운 비밀번호를 입력해 주세요." type="password">
        </label>
        <label class="_object-label">
            <span hidden>비밀번호 재입력</span>
            <input autofocus class="_object-input" maxlength="50" name="passwordCheck" placeholder="새로운 비밀번호를 다시 입력해 주세요." type="password">
        </label>

        <input class="_object-button" name="resetPasswordButton" type="submit" value="비밀번호 재설정">
    </form>
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>