<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>라넌큘러스 비밀번호 재설정</title>
    <th:block th:insert="~{fragments/head.html :: content}"></th:block>
    <link rel="stylesheet" th:href="@{/member/resources/stylesheets/userRecover.css}">
    <script defer th:src="@{/member/resources/scripts/userResetPassword.js}"></script>
</head>
<body class="_layout-hmf">
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<main class="_main main">
    <div class="result-container" id="resultContainer">
        <h2 class="title">비밀번호 재설정</h2>
        <span class="desc">비밀번호를 성공적으로 재설정하였습니다. 로그인해 주세요.</span>
            <a class="link _object-button" th:href="@{/member/userLogin}">로그인 하러 가기</a>
    </div>
    <form class="resetPassword-form visible" id="resetPasswordForm">
        <h2 class="title">비밀번호 재설정</h2>
        <span class="desc">새로운 비밀번호를 입력해 주세요.</span>

        <label class="_object-label">
            <span hidden>비밀번호</span>
            <input autofocus class="_object-input" maxlength="50" name="password" placeholder="새로운 비밀번호를 입력해 주세요." type="password">
        </label>
        <label class="_object-label">
            <span hidden>비밀번호 재입력</span>
            <input autofocus class="_object-input" maxlength="50" name="passwordCheck" placeholder="새로운 비밀번호를 다시 입력해 주세요." type="password">
        </label>

        <input class="_object-button" name="resetPasswordButton" type="submit" value="비밀번호 재설정">
    </form>
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>