<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>
    <th:block th:insert="~{fragments/head.html :: content}"></th:block>
    <link rel="stylesheet" th:href="@{/member/resources/stylesheets/userEdit.css}">
    <script defer th:src="@{/member/resources/scripts/userEdit.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<main class="main">
    <ul class="nav">
        <li class="profile-container">임시이름</li>
        <li class="item">회원정보 관리</li>
        <li class="item">작성한 Q&A</li>
        <li class="item">작성한 상품 리뷰</li>
        <li class="item">주문현황/배송조회</li>
        <li class="item">회원탈퇴</li>
    </ul>
    <section class="info-section">
        <h2>회원정보</h2>
        <form class="info-form">
            <table>
                <tbody>
                    <tr>
                        <th>이메일</th>
                        <td>
                            <label>
                                <span hidden>이메일</span>
                                <input class="_object-input" maxlength="50" name="email" placeholder="이메일" type="email">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th>현재 비밀번호 <span>*</span></th>
                        <td>
                            <label>
                                <span hidden>현재 비밀번호</span>
                                <input class="_object-input" maxlength="50" name="password" placeholder="현재 비밀번호" type="password">
                                <div>• 회원님의 <span>개인정보 보호를 위해 현재 비밀번호</span>를 입력해 주세요.</div>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th>새 비밀번호</th>
                        <td>
                            <label>
                                <span hidden>새 비밀번호</span>
                                <input class="_object-input" maxlength="50" name="password" placeholder="새 비밀번호" type="password">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th>새 비밀번호 확인</th>
                        <td>
                            <label>
                                <span hidden>새 비밀번호 확인</span>
                                <input class="_object-input" maxlength="50" name="passwordCheck" placeholder="새 비밀번호 확인" type="password">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td>
                            <label>
                                <span hidden>이름</span>
                                <input class="_object-input" maxlength="50" name="name" placeholder="이름" type="text">
                                <div>• 개명으로 인한 이름 변경 시 <span>고객 센터</span>에 문의해 주세요.</div>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td>
                            <section class="section-container">
                                <span hidden>주소</span>
                                <div class="address-container address-postal-wrapper">
                                    <input class="_object-input address-postal" maxlength="5" name="addressPostal" placeholder="우편번호" readonly type="text">
                                    <input class="_object-input address-postal-button" type="button" value="주소 찾기" data-func="openAddressSearch">
                                </div>
                                <div class="address-container">
                                    <input class="_object-input address-primary" maxlength="100" name="addressPrimary" readonly placeholder="주소" type="text">
                                </div>
                                <div class="address-container">
                                    <input class="_object-input address-secondary" maxlength="100" name="addressSecondary" placeholder="상세주소" type="text">
                                </div>
                            </section>
                        </td>
                    </tr>
                    <tr>
                        <th>연락처 통신사</th>
                        <td>
                            <label>
                                <span hidden>연락처 통신사</span>
                                <select class="_object-input input" name="telecomValue">
                                    <option disabled selected redonly value="-1">통신사</option>
                                    <option value="1">SKT</option>
                                    <option value="2">KT</option>
                                    <option value="3">LGU+</option>
                                    <option value="4">알뜰폰</option>
                                </select>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th>연락처</th>
                        <td>
                            <label class="contact-container contact-container-first">
                                <span class="text">연락처</span>
                                <div class="input-container">
                                    <input class="_object-input input" maxlength="12" name="contact" placeholder="연락처 ( - 없이 입력해주세요.)" type="text">
                                    <input name="contactAuthSalt" type="hidden">
                                    <input class="_object-button" name="contactAuthRequestButton" type="button" value="인증번호 요청" data-func="requestContactAuthCode">
                                </div>
                            </label>
                            <label class="contact-container">
                                <span hidden class="text">연락처 인증번호</span>
                                <div class="input-container">
                                    <input class="_object-input input" disabled maxlength="6" name="contactAuthCode" placeholder="인증번호" type="text">
                                    <input class="_object-button" disabled name="contactAuthCheckButton" type="button" value="인증번호 확인" data-func="checkContactAuthCode">
                                </div>
                            </label>
                        </td>
                    </tr>
                    <tr>
                </tbody>
            </table>
        </form>
    </section>
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>