@charset "UTF-8";

body > .main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.a {
    width: 80%;
    height: 80%;
    background-color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.b {
    background-color: blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}

.b > .fieldset {
    display: flex;
    flex-direction: row;
}