<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>장바구니</title>
    <script defer th:src="@{/shop/resources/scripts/basket.js}"></script>
    <link rel="stylesheet" th:href="@{/shop/resources/stylesheets/basket.css}">
    <script defer th:src="@{/shop/resources/scripts/basket.js}"></script>

    <link rel="stylesheet" href="/shop/resources/stylesheets/basket.css">
    <script defer src="/shop/resources/scripts/basket.js"></script>
    <th:block th:replace="~{fragments/header.html :: content}"></th:block>
</head>
<body>

<form name="orderform" id="orderform" method="post" class="orderform" action="/Page" onsubmit="return false;">

    <input type="hidden" name="cmd" value="order">
    <div class="basketdiv" id="basket">
        <div class="row head">
            <div class="subdiv">
                <div class="check">선택</div>
                <div class="img">이미지</div>
                <div class="pname">상품명</div>
            </div>
            <div class="subdiv">
                <div class="basketprice">가격</div>
                <div class="num">수량</div>
                <div class="sum">합계</div>
            </div>
            <div class="subdiv">

                <div class="basketcmd">삭제</div>
            </div>
            <div class="split"></div>
        </div>

        <div class="row data">
            <div class="subdiv">
                <div class="check"><input type="checkbox" name="buy" value="260" checked="" onclick="javascript:basket.checkItem();">&nbsp;</div>
                <div class="img"><img src="http://www.su-studio.co.kr/files/attach/images/239/134/058/4644558401afed19d0becc0f0c2c132c.jpg" width="60"></div>
                <div class="pname">
                    <span>남자향수</span>
                </div>
            </div>
            <div class="subdiv">
                <div class="basketprice"><input type="hidden" name="p_price" id="p_price1" class="p_price" value="20000">20,000원</div>
                <div class="num">
                    <div class="updown">
                        <input type="text" name="p_num1" id="p_num1" size="2" maxlength="4" class="p_num" value="2" onkeyup="javascript:basket.changePNum(1);">
                        <span onclick="javascript:basket.changePNum(1);"><i class="fas fa-arrow-alt-circle-up up"></i></span>
                        <span onclick="javascript:basket.changePNum(1);"><i class="fas fa-arrow-alt-circle-down down"></i></span>
                    </div>
                </div>
                <div class="sum">40,000원</div>
            </div>
            <div class="subdiv">
                <div class="basketcmd"><a href="javascript:void(0)" class="abutton" onclick="javascript:basket.delItem();">삭제</a></div>
            </div>
        </div>
        <div class="row data">
            <div class="subdiv">
                <div class="check"><input type="checkbox" name="buy" value="261" checked="" onclick="javascript:basket.checkItem();">&nbsp;</div>
                <div class="img"><img src="http://www.su-studio.co.kr/files/attach/images/239/134/058/f4f23f8af68685f315e80998f8b25ca1.jpg" width="60"></div>
                <div class="pname">
                    <span>여자향수</span>
                </div>
            </div>
            <div class="subdiv">
                <div class="basketprice"><input type="hidden" name="p_price" id="p_price2" class="p_price" value="19000">19,000원</div>
                <div class="num">
                    <div class="updown">
                        <input type="text" name="p_num2" id="p_num2" size="2" maxlength="4" class="p_num" value="1" onkeyup="javascript:basket.changePNum(2);">
                        <span onclick="javascript:basket.changePNum(2);"><i class="fas fa-arrow-alt-circle-up up"></i></span>
                        <span onclick="javascript:basket.changePNum(2);"><i class="fas fa-arrow-alt-circle-down down"></i></span>
                    </div>
                </div>
                <div class="sum">19,000원</div>
            </div>
            <div class="subdiv">
                <div class="basketcmd"><a href="javascript:void(0)" class="abutton" onclick="javascript:basket.delItem();">삭제</a></div>
            </div>
        </div>
        <div class="row data">
            <div class="subdiv">
                <div class="check"><input type="checkbox" name="buy" value="262" checked="" onclick="javascript:basket.checkItem();">&nbsp;</div>
                <div class="img"><img src="http://www.su-studio.co.kr/files/attach/images/239/134/058/b710fff053ba829e72953890d68fafaf.jpg" width="60"></div>
                <div class="pname">
                    <span>남녀 공용</span>
                </div>
            </div>
            <div class="subdiv">
                <div class="basketprice"><input type="hidden" name="p_price" id="p_price3" class="p_price" value="15200">15,200원</div>
                <div class="num">
                    <div class="updown">
                        <input type="text" name="p_num3" id="p_num3" size="2" maxlength="4" class="p_num" value="1" onkeyup="javascript:basket.changePNum(3);">
                        <span onclick="javascript:basket.changePNum(3);"><i class="fas fa-arrow-alt-circle-up up"></i></span>
                        <span onclick="javascript:basket.changePNum(3);"><i class="fas fa-arrow-alt-circle-down down"></i></span>
                    </div>
                </div>
                <div class="sum">15,200원</div>
            </div>
            <div class="subdiv">
                <div class="basketcmd"><a href="javascript:void(0)" class="abutton" onclick="javascript:basket.delItem();">삭제</a></div>
            </div>
        </div>

    </div>

    <div class="right-align basketrowcmd">
        <a href="javascript:void(0)" class="abutton" onclick="javascript:basket.delCheckedItem();">선택상품삭제</a>
        <a href="javascript:void(0)" class="abutton" onclick="javascript:basket.delAllItem();">장바구니비우기</a>
    </div>

    <div class="bigtext right-align sumcount" id="sum_p_num">상품갯수: 4개</div>
    <div class="bigtext right-align box blue summoney" id="sum_p_price">합계금액: 74,200원</div>

    <div id="goorder" class="">
        <div class="clear"></div>
        <div class="buttongroup center-align cmd">
            <a href="javascript:void(0);">선택한 상품 주문</a>
        </div>
    </div>
</form>

</body>
<footer>
    <th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</footer>
</html>
