<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/templates/stylesheets/index.css">

</head>
<body>


<div class="hero-header"></div>
<div class="slider">
    <input type="radio" name="slide" id="slide1" checked>
    <input type="radio" name="slide" id="slide2">
    <input type="radio" name="slide" id="slide3">
    <input type="radio" name="slide" id="slide4">
    <ul id="imgholder" class="imgs">
        <li><img src="https://t1.daumcdn.net/cfile/tistory/9975564B5D807BBA16"></li>
        <li><img src="https://t1.daumcdn.net/cfile/tistory/9975564B5D807BBA16"></li>
        <li><img src="https://t1.daumcdn.net/cfile/tistory/9975564B5D807BBA16"></li>
        <li><img src="https://t1.daumcdn.net/cfile/tistory/9975564B5D807BBA16"></li>
    </ul>
    <div class="bullets">
        <label for="slide1">&nbsp;</label>
        <label for="slide2">&nbsp;</label>
        <label for="slide3">&nbsp;</label>
        <label for="slide4">&nbsp;</label>
    </div>
</div>

<div class="products">
    <h3>향수</h3>

    <div class="product-list">
        <a href="#" class="product">
            <img src="https://t1.daumcdn.net/cfile/tistory/9975564B5D807BBA16"  width="225px" height="225px">
            <div class="product-name">
                향수1
            </div>
            <div class="product-price">
               1,000
            </div>
            <a href="#" class="product">
                <img src="https://t1.daumcdn.net/cfile/tistory/9975564B5D807BBA16" width="225px" height="225px">
            <div class="product-name">
                향수2
            </div>
            <div class="product-price">
                1,000
            </div>
        </a>


        <a href="#" class="product">
            <img src="https://t1.daumcdn.net/cfile/tistory/9975564B5D807BBA16" width="225px" height="225px">
            <div class="product-name">
                향수 3
            </div>
            <div class="product-price">
                1,000
            </div>
        </a>


        <a href="#" class="product">
            <img src="https://t1.daumcdn.net/cfile/tistory/9975564B5D807BBA16" width="225px" height="225px">
            <div class="product-name">
                향수4
            </div>
            <div class="product-price">
                1,000
            </div>
        </a>


        <a href="#" class="product">
            <img src="https://t1.daumcdn.net/cfile/tistory/9975564B5D807BBA16" width="225px" height="225px">
            <div class="product-name">
                향수5
            </div>
            <div class="product-price">
               1,000
            </div>
        </a>


        <a href="#" class="product">
            <img src="https://t1.daumcdn.net/cfile/tistory/9975564B5D807BBA16" width="225px" height="225px">
            <div class="product-name">
                향수6
            </div>
            <div class="product-price">
                1,000
            </div>
        </a>

        <a href="#" class="product">
            <img src="https://t1.daumcdn.net/cfile/tistory/9975564B5D807BBA16" width="225px" height="225px">
            <div class="product-name">
                향수7
            </div>
            <div class="product-price">
                1,000
            </div>
        </a>

        <a href="#" class="product">
            <img src="https://t1.daumcdn.net/cfile/tistory/9975564B5D807BBA16" width="225px" height="225px">
            <div class="product-name">
                향수8
            </div>
            <div class="product-price">
                1,000
            </div>
        </a>

        <a href="#" class="product">
            <img src="https://t1.daumcdn.net/cfile/tistory/9975564B5D807BBA16" width="225px" height="225px">
            <div class="product-name">
                향수9
            </div>
            <div class="product-price">
                1,000
            </div>
        </a>
        <div class="clearfix"></div>
    </div>

    <div class="footer">
<!-- 여기 푸터 나뚜면되요-->
    </div>
</div>
</body>
</html>
