
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop</title>
    <th:block th:insert="~{fragments/head.html :: content}"></th:block>
    <meta charset="utf-8">
    <th:block th:insert="~{fragments/head.html :: content}"></th:block>
    <link rel="stylesheet" th:href="@{/resources/stylesheets/index.css}">
    <script defer th:src="@{/resources/scripts/index.js}"></script>

    <link rel="stylesheet" href="/static/resources/stylesheets/index.css">
    <script defer src="/resources/scripts/index.js"></script>
</head>
<body class="_layout-hmf">
<th:block th:replace="~{fragments/header.html :: content}"></th:block>


<div class="hero-header"></div>
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
        <div class="numbertext">1 / 6</div>
        <img src="http://www.su-studio.co.kr/files/attach/images/239/134/058/09bb42e5273ceb66d6c7ee737d91eaca.jpg" style="width:100%">
        <div class="text">ACNE STUDIO</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 6</div>
        <img src="http://www.su-studio.co.kr/files/attach/images/239/134/058/70ee64ed99bc08f24b20df650855e8b5.jpg" style="width:100%">
        <div class="text">ACNE STUDIO</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 6</div>
        <img src="http://www.su-studio.co.kr/files/attach/images/239/134/058/03612bcd15f920c17aa9e11aefd2560c.jpg" style="width:100%">
        <div class="text">ACNE STUDIO</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">4 / 6</div>
        <img src="http://www.su-studio.co.kr/files/attach/images/239/134/058/b710fff053ba829e72953890d68fafaf.jpg" style="width:100%">
        <div class="text">ACNE STUDIO</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">5 / 6</div>
        <img src="http://www.su-studio.co.kr/files/attach/images/239/134/058/f4f23f8af68685f315e80998f8b25ca1.jpg" style="width:100%">
        <div class="text">ACNE STUDIO</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">6 / 6</div>
        <img src="http://www.su-studio.co.kr/files/attach/images/239/134/058/4644558401afed19d0becc0f0c2c132c.jpg" style="width:100%">
        <div class="text">ACNE STUDIO</div>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="moveSlides(-1)">&#10094;</a>
    <a class="next" onclick="moveSlides(1)">&#10095;</a>
</div>
<br/>

<!-- The dots/circles -->
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(0)"></span>
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
</div>

<div class="products">
    <h3>향수</h3>

    <div class="product-list">
        <a href="#" class="product">
            <img src="https://t1.daumcdn.net/cfile/tistory/9975564B5D807BBA16"  width="225px" height="225px">
            <div class="product-name">
                향수1
            </div>
            <div class="product-price">
                1,000
            </div>
        </a>
        <a href="#" class="product">
            <img src="https://t1.daumcdn.net/cfile/tistory/9975564B5D807BBA16" width="225px" height="225px">
            <div class="product-name">
                향수2
            </div>
            <div class="product-price">
                1,000
            </div>
        </a>


        <a href="#" class="product">
            <img src="https://t1.daumcdn.net/cfile/tistory/9975564B5D807BBA16" width="225px" height="225px">
            <div class="product-name">
                향수 3
            </div>
            <div class="product-price">
                1,000
            </div>
        </a>


        <a href="#" class="product">
            <img src="https://t1.daumcdn.net/cfile/tistory/9975564B5D807BBA16" width="225px" height="225px">
            <div class="product-name">
                향수4
            </div>
            <div class="product-price">
                1,000
            </div>
        </a>


        <a href="#" class="product">
            <img src="https://t1.daumcdn.net/cfile/tistory/9975564B5D807BBA16" width="225px" height="225px">
            <div class="product-name">
                향수5
            </div>
            <div class="product-price">
                1,000
            </div>
        </a>


        <a href="#" class="product">
            <img src="https://t1.daumcdn.net/cfile/tistory/9975564B5D807BBA16" width="225px" height="225px">
            <div class="product-name">
                향수6
            </div>
            <div class="product-price">
                1,000
            </div>
        </a>

        <a href="#" class="product">
            <img src="https://t1.daumcdn.net/cfile/tistory/9975564B5D807BBA16" width="225px" height="225px">
            <div class="product-name">
                향수7
            </div>
            <div class="product-price">
                1,000
            </div>
        </a>

        <a href="#" class="product">
            <img src="https://t1.daumcdn.net/cfile/tistory/9975564B5D807BBA16" width="225px" height="225px">
            <div class="product-name">
                향수8
            </div>
            <div class="product-price">
                1,000
            </div>
        </a>

        <a href="#" class="product">
            <img src="https://t1.daumcdn.net/cfile/tistory/9975564B5D807BBA16" width="225px" height="225px">
            <div class="product-name">
                향수9
            </div>
            <div class="product-price">
                1,000
            </div>
        </a>
        <div class="clearfix"></div>

    </div>
</div></div></body>
</body>
<footer>
    <th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</footer>
</html>

