@charset "UTF-8";

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body > .navigator-container,
body > .main {
    width: var(--content-width-default);
}

body > .navigator-container {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.25rem 0;
}

body > .navigator-container > .location > *,
body > .navigator-container > .item-container > .item-wrap > .item {
    color: rgb(180, 180, 180);
    font-size: 0.75rem;
}

body > .navigator-container > .category-title {
    align-self: center;
    font-size: 1.175rem;
    font-weight: 450;
    padding: 2.75rem 0;
}

body > .navigator-container > .item-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > .navigator-container > .item-container > *:not(:last-of-type) {
    border-right: 0.0625rem solid rgb(180, 180, 180);
}

body > .navigator-container > .item-container > .item-wrap {
    padding: 0 0.825rem;
}

body > .main > .product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

body > .main > .product-container:last-of-type {
    margin-bottom: 1.25rem;
}

body > .main > .product-container > .link {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

body > .main > .product-container > .link > .sold-out {
    top: -5px;
    width: 15rem;
    height: 15rem;
    border: 0.325rem solid red;
    border-radius: 0.25rem;
    opacity: 0.6;
    position: absolute;
    z-index: 1;
}

body > .main > .product-container > .link > .image {
    width: 15rem;
    height: 15rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

body > .main > .product-container > .link:hover > .image {
    box-shadow: 0 0 0.25rem 0.125rem rgba(60, 60, 60, 50%);
}

body > .main > .product-container > .link:hover > .sold-out ~ * {
    box-shadow: none;
    cursor: none;
    pointer-events: none;
    user-select: none;
}

body > .main > .product-container > .link > .product-name {
    font-weight: 500;
    margin-bottom: 0.625rem;
}

body > .main > .product-container > .link > .product-detail {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.25rem;
}

body > .main > .product-container > .link > .product-detail > * {
    font-size: 0.75rem;
    margin: 0 0.0625rem;
}

body > .main > .product-container > .link > .product-detail > .product-name {
    font-weight: 500;
}

body > .main > .product-container > .link > .product-price {
    color: rgb(186, 74, 0);
    margin-bottom: 1rem;
}

body > .page-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1.25rem;
}

body > .page-container > .page-wrap > .page {
    background-color: rgb(var(--concept-color-pink));
    color: rgb(255, 255, 255);
    padding : 0.5rem 0.7rem;
}

body > .page-container > .page-wrap > .page.selected {
    background-color: rgb(var(--concept-color-pink-dim));
    pointer-events: none;
}

body > .page-container > .page-wrap:first-of-type > .page {
    border-top-left-radius: 0.325rem;
    border-bottom-left-radius: 0.325rem;
}

body > .page-container > .page-wrap:last-of-type > .page {
    border-top-right-radius: 0.325rem;
    border-bottom-right-radius: 0.325rem;
}