<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>카테고리</title>
    <th:block th:insert="~{fragments/head.html :: content}"></th:block>
    <link rel="stylesheet" th:href="@{/shop/resources/stylesheets/category.css}">
    <script defer th:src="@{/shop/resources/scripts/category.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<nav class="navigator-container">
    <div class="location">
        <a class="link" th:href="@{/}">HOME</a>
        <span>></span>
        <a class="link" th:href="@{/shop/category}">남여공용</a>
    </div>
    <div class="category-title">남여공용</div>
    <ul class="item-wrap">
        <li>신상품</li>
        <li>베스트</li>
        <li>높은가격</li>
        <li>낮은가격</li>
    </ul>
</nav>




<!-- TODO: 해당부분 구현 필요. 상품 정보 -->
<main class="main">

</main>



<!-- TODO: 해당부분 구현 필요. 페이지 관련-->
<table class="page-wrap">
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
    </tr>
</table>




<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>