
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>상세페이지</title>
    <th:block th:insert="~{fragments/head.html :: content}"></th:block>
    <link rel="stylesheet" th:href="@{/shop/resources/stylesheets/detailpage.css}">
    <script defer th:src="@{/shop/resources/scripts/detailpage.js}"></script>
</head>
<body>

<div class="wrapper">
    <div class="wrap">

        <div class="top_area">
            <!-- 로고영역 -->
            <div class="logo_area">
                <a href="/main"><img src="https://airweb.co.kr/data/file/logo_portfolio/3035080643_i2nQZ4mX_43e02da1a0213af7ae7d9865593749522145e212.jpg"></a>
            </div>
            <div class="search_area">
                <div class="search_wrap">
                    <form id="searchForm" action="/search" method="get">
                        <div class="search_input">
                            <select name="type">
                                <option value="T">상품이름</option>
                                <option value="A">브랜드</option>
                            </select>
                            <input type="text" name="keyword">
                            <button class='btn search_btn'>검 색</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="navi_bar_area">
            <div class="dropdown">
                <button class="dropbtn">국내
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <c:forEach items="${cate1}" var="cate">
                        <a href="search?type=C&cateCode=${cate.cateCode}">${cate.cateName}</a>
                    </c:forEach>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">국외
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <c:forEach items="${cate2}" var="cate">
                        <a href="search?type=C&cateCode=${cate.cateCode}">${cate.cateName}</a>
                    </c:forEach>
                </div>
            </div>
        </div>
        <div class="content_area">

            <div class="slide_div_wrap">
                <div class="slide_div">
                    <div>
                        <a>
                            <img src="../resources/img/bnA_w01_a8daff.jpg">
                        </a>
                    </div>
                    <div>
                        <a>
                            <img src="../resources/img/bnD_w01_c3c5f7.jpg">
                        </a>
                    </div>
                    <div>
                        <a>
                            <img src="../resources/img/bnK_w01_c3c5f7.jpg">
                        </a>
                    </div>
                </div>
            </div>

            <div class="ls_wrap">
                <div class="ls_div_subject">
                    평점순 상품
                </div>
                <div class="ls_div">
                    <c:forEach items="${ls}" var="ls">
                        <a href="/goodsDetail/${ls.bookId}">
                            <div class="ls_div_content_wrap">
                                <div class="ls_div_content">
                                    <div class="image_wrap" data-bookid="${ls.imageList[0].bookId}" data-path="${ls.imageList[0].uploadPath}" data-uuid="${ls.imageList[0].uuid}" data-filename="${ls.imageList[0].fileName}">
                                        <img>
                                    </div>
                                    <div class="ls_category">
                                        ${ls.cateName}
                                    </div>
                                    <div class="ls_rating">
                                        ${ls.ratingAvg}
                                    </div>
                                    <div class="ls_bookName">
                                        ${ls.bookName}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </c:forEach>
                </div>
            </div>

        </div>

        <!-- Footer 영역 -->



    </div>	<!-- class="wrap" -->
</div>	<!-- class="wrapper" -->