<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>상품상세보기</title>
    <th:block th:insert="~{fragments/head.html :: content}"></th:block>
    <link rel="stylesheet" th:href="@{/shop/resources/stylesheets/detailpage.css}">
    <script defer th:src="@{/shop/resources/scripts/detailpage.js}"></script>
    <th:block th:replace="~{fragments/header.html :: content}"></th:block>
</head>
<body>

<div class="product_view">
    <h2>페르몬 향수 </h2>
    <table>
        <caption>
            <details class="hide">
                <summary>상품정보</summary>
                판매가, 상품코드, 옵션 및 결제금액 안내
            </details>
        </caption>
        <colgroup>
            <col style="width:173px;">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th>판매가</th>
            <td class="price">78,000</td>
        </tr>
        <tr>
            <th>상품코드</th>
            <td>C004843</td>
        </tr>
        <tr>
            <th>브랜드/판매점</th>
            <td>노블래스/올리브영</td>
        </tr>
        <tr>
            <th>구매수량</th>
            <td>
                <div class="length">
                    <input type="number" min="1" value="1">
                    <a href="#a">증가</a>
                    <a href="#a">감소</a>
                </div>
            </td>
        </tr>
        <tr>
            <th>사용가능쿠폰</th>
            <td>0개</td>
        </tr>
        <tr>
            <th>옵션선택</th>
            <td>
                <select>
                    <option>기본(+0)</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>배송비</th>
            <td>무료배송</td>
        </tr>
        <tr>
            <th>결제금액</th>
            <td class="total"><b>78,000</b>원</td>
        </tr>
        </tbody>
    </table>
    <div class="img">
        <img src="http://www.su-studio.co.kr/files/attach/images/239/134/058/70ee64ed99bc08f24b20df650855e8b5.jpg" alt="">
        <ul>
            <li class="on"><a href="#a"><img src="http://www.su-studio.co.kr/files/attach/images/239/134/058/70ee64ed99bc08f24b20df650855e8b5.jpg" alt=""></a></li>
            <li><a href="#a"><img src="http://www.su-studio.co.kr/files/attach/images/239/134/058/70ee64ed99bc08f24b20df650855e8b5.jpg" alt=""></a></li>
        </ul>
    </div>
    <div class="btns">
        <a href="#a" class="btn1" th:href="@{/shop/basket}">장바구니</a>
        <a href="#a" class="btn2">구매하기</a>
        <div> <a href="#a" id="contents" class="btn3">상품설명</a> </div>
        <div id="popup">
            <div id="popmenu">
                <p>안녕하세요!2</p>
                <div class="exit">닫기</div>
            </div>
        </div>

    </div>

</div>

</body>
<footer>
    <th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</footer>
</html>
[출처] detailpage.html|작성자 코린이스타트

